
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Macondo&family=Montserrat&family=Piedra&family=Slabo+27px&display=swap');


 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} 




body{
    margin: 0;
    font-family: Poppins;
    background-color: #eee;
    background-image: url(/YOURORDER/assest/french-fries-6208782_1280.jpg);

    background-size:cover;
    background-repeat: no-repeat;
    display: flex;

}

.fries{
    display: flex;
    flex-direction: column;
  
}
.fries img {
    
    width: 25rem;
    margin-top: 20rem;
}

.fries img:hover{
    transform: translateY(-0.5rem);
    transition: bottom 0.5s,transform 0.5s;
}

.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
    color: yellow;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
    color:yellow;
    font-family: "Piedra", serif;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    font-family: "Carter One", serif;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: x-large;
    font-weight: 600;
    color:brown;
    font-family: "Slabo 27px", serif;
}

.listProduct .item .addCart{
    font-family: "Montserrat", serif;
    font-size: large;

}

/* button */







  
.listProduct .item button{
    background-color: #E8BC0E;
    color: #eee;
    border: none;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 20px;
}


.listProduct .item button:hover{
    transform: translateY(-0.5rem);
    transition: bottom 0.5s,transform 0.5s;
    box-shadow: 0 10px 20px #0009;

}

/* cart */
.cartTab{
    width: 400px;
    background-color:rgb(189, 28, 28);
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: "Montserrat", serif;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    overflow: hidden;
    font-family: "Montserrat", serif;
}
.cartTab .close{
    background-color: #eee;
    font-family: "Montserrat", serif;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}



